<h1>Tracks Matching <%= params[:track_name] %></h1>
<ul>
 <% @track_name.each do |t| %>
   <li><%= t.name %>  |  <%= link_to "Vote", suggestion_path(t.id) %></li>
 <% end %>

 <%= 'spot_search' %>
 <%= 'suggestions_list' %>
</ul>