<h2>Pick a track:</h2>

<% if @result %>
  <table class="table table-striped table-condensed">
    <thead>
      <th>Artist</th>
      <th>Track</th>
    </thead>

    <% @result.each do |track| %>
      <tr>
        <th>
        <% track.artists.each do |artist| %>
          <%= artist.name %>
        <% end %>
        </th>
        <th>
          <%= track.name %>
        </th>
        <th>
          <%= link_to track.preview_url, :target => "_blank" do %>
            <%= image_tag("play_on_spotify-green.png") %>     
          <% end %>
        </th> 
        <th>
          <%= link_to suggestions_path(track_id: track.id), method: 'post' do %>
            <button type="button" class="btn btn-success btn-sm" aria-label="Left Align">
              Nominate!
            </button>
          <% end %>

          <%#= submit_tag 'nominate!', :class => "btn btn-primary btn-lg" %>
        </th>
      </tr>
    <% end %>
  </table>
<% end %>
