<h2>Vote for a track:</h2>
<table class="table table-striped table-condensed">
  <thead>
    <th></th>
    <th></th>
    <th>Artist</th>
    <th>Track</th>
  </thead>

<% if @suggestions %>
  <% @suggestions.each do |track| %>
    <tr>
      <th>
        <%= link_to upvote_suggestion_path(track), method: 'post' do %>
          <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align">
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true>"> <%= track.upvotes.size %></span>
          </button>
        <% end %>
      </th>
      <th>
        <%= link_to downvote_suggestion_path(track), method: 'post' do %>
          <button type="button" class="btn btn-danger btn-sm" aria-label="Left Align">
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true>"> <%= track.downvotes.size %></span>
          </button>
          <% end %>
      </th>
      <th>
        <%= track.artist %>
      </th>
      <th>
        <%= track.track_name %>
      </th>
    </tr>
    
  <% end %>
<% end %>

  </table>



  