<%= form_for @suggestion, url: {action: "create"} do |f| %>
    <div class="field">
        <%=  f.label 'Song Name' %>
        <%=  f.text_field :track_name %>
        <%= f.submit %>
     </div>

     <div class="field">
     	<% @suggestion.each do |s| %>
			<ul>
  				<li><%= @suggestion.artists %></li>
			</ul>
	<% end %>